# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# IntellijIdea files
*.iml
.idea
/Neuron.vcxproj.filters
/Neuron.vcxproj
/Neuron.VC.VC.opendb
/Neuron.VC.db
/Neuron.sln
/.vs/Neuron/v14/.suo
/OLS/.vs/OLS/v14/.suo
/OLS/Debug/OLS.pdb
/OLS/Debug/OLS.ilk
/OLS/OLS/Debug/vc140.idb
/OLS/OLS/Debug/OLS.tlog/OLS.lastbuildstate
/OLS/OLS/Debug/OLS.tlog/link.write.1.tlog
/OLS/OLS/Debug/OLS.tlog/link.read.1.tlog
/OLS/OLS/Debug/OLS.tlog/link.command.1.tlog
/OLS/OLS/Debug/OLS.tlog/CL.write.1.tlog
/OLS/OLS/Debug/OLS.tlog/CL.read.1.tlog
/OLS/OLS/Debug/OLS.tlog/CL.command.1.tlog
/OLS/OLS/Debug/OLS.log
/OLS/OLS/Debug/vc140.pdb
/OLS/OLS.VC.db
/OLS/OLS.sln
/OLS/OLS/targetver.h
/OLS/OLS/stdafx.h
/OLS/OLS/stdafx.cpp
/OLS/OLS/ReadMe.txt
/OLS/OLS/OLS.vcxproj.filters
/OLS/OLS/OLS.vcxproj
